body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-size: large;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("abstract-geometric-wireframe-background_52683-59421.avif")
    

   
}
.header{
    background: white;
    padding: 20px;
    border-radius: 8px;

    width: 500px;
    text-align: center;
    height: 400px;

}

.lists{
    text-align: left;
}
li{
    text-align: left;
}
.search{
    border: 10px solid rgb(155, 155, 140);
    border-radius: 50px;
}

.search input{
    width: 98%;
    border-radius: 7%;
    border: none;
   
}

.addtask{
    color: blue;
    font-size: medium;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    border-radius: 50px;
    
   
}

button{
   margin-left: 10px;
   
}